*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: black;
	font-family: "Microsoft YaHei";
}
.l{
	float: left;
}
.r{
	float: right;
}
.c{
	clear: both;
}
.color{
	color: white;
}
html{
	height: 100%;
}
body{
	height: 100%;
}
button{
    border: none;
}
nav{
	width: 240px;
	min-height: 761px;
	height: 100%;
	background-color: rgba(22,23,25,1);

}
#music,#background{
    width: 76px;
}
.message_result{
    margin-top: 20px;
    width: 700px;
}
#firstDiv{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 698px;
    top: 300px;
}
#message-ok{
    display: none;
    text-align: center;
    border: 1px solid #d8d8d8;
    width: 300px;
    height: 170px;
    position: absolute;
    background-color: rgba(243,243,243,1);
    top: 212px;
    left: 555px;
    box-shadow:0 0 6px rgba(0, 170, 170, .5);
}
#message-p{
    margin-top: 50px;
    margin-bottom: 15px;
}
#message-s{
    margin-left: -12px;
}
#sec-income-s{
    margin-top: 40px;
    width: 300px;
}
#main-s{
    position: relative;
    top: -174px;
    left: 240px;
    width: 600px;
}
#logo{
	width: 116px;
	margin-left: 12px;
	margin-top: 20px;
}
.nav-first{
	position: relative;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom:10px;
	padding-left: 78px;
	font-size: 18px;
	width: 162px;
}
.nav-first a {
	position: relative;
	top: -5px;
	z-index: 3;
	color: white;
}
.nav-first-s{
	border-right: 9px solid rgba(0,170,170,1);
	width: 153px;
}
.nav-bg{
	position: absolute;
	/*z-index: 1;*/
	top: 0px;
	left: 240px;
	width: 240px;
	height: 65px;
	background-color: rgba(0,170,170,1);
	transition: left 0.3s linear 0s;
	/* Firefox 4 */
	-moz-transition:left 0.3s linear 0s;
	/* Safari and Chrome */
	-webkit-transition:left 0.3s linear 0s;
	/* Opera */
	-o-transition:left 0.3s linear 0s;
}
.nav-first:hover .nav-bg{
	/*width: 240px;*/
	left: 0px;
	z-index: 1;
	cursor: pointer;
}
.nav-bg-s{
	left: 0;
}
.nav-bg-s1{
	
}
.nav-tip{
	position: absolute;
	top: 194px;
	left: 240px;
	background-color: rgba(0,170,170,1);
	width: 200px;
	height: 300px;
}
.nav-tip .nav-sec:hover{
	background-color: rgba(0,149,155,1);
}
.nav-tip-d{
	position: absolute;
	top: 302px;
	left: 240px;
	background-color: rgba(0,170,170,1);
	width: 200px;
	height: 150px;
}
.nav-tip-d .nav-sec:hover{
	background-color: rgba(0,149,155,1);
}
.nav-home{
	position: absolute;
	top: 21px;
	left: 240px;
	background-color: rgba(0,170,170,1);
	width: 200px;
	height: 300px;
}
.nav-sec{
	cursor: pointer;
	padding-top: 15px;
	padding-bottom: 18px;
	padding-left: 30px
}
.nav-sec a{
	color: white;
}
/*右侧区域*/
.section{
	margin-left: 33px;
	margin-top: 38px;
}
.underline{
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
	height: 1px;
	width: 1000px;
	background-color: rgba(221,226,232,1);
}
#sec-income span{
	padding-right: 10px;
}
.sec-tip{
	margin-top: 20px;
}
.sec-tip-s{
	margin-top: 50px;
}
.underline-s{
	display: block;
	margin-top: 30px;
	margin-bottom: 10px;
	height: 1px;
	width: 1000px;
	background-color: rgba(221,226,232,1);
}
#comment{
	width: 280px;
  	height: 75px;
  	resize: none;
}
.submit{
	background-color: rgba(0,170,170,1);
	padding: 5px 22px;
	color: white;
	cursor: pointer;
	border-style: none;
	border-radius: 2px; 
}

.submit:hover{
	background-color: rgba(0,149,155,1);
}
select{
	width: 60px;
}
/* box */
#box-over{
	width: 700px;
	height: 700px;
	margin:0 auto;
}
.box{position:fixed;top:80px;width:700px;height:auto;z-index:100;background-color:transparent;color: rgba(203,201,201,1);}
.box h2{height:25px;font-size:20px;background-color:transparent;top:87px;position:relative;line-height:25px;text-align: center;}
.box h2 a{position:absolute;right:5px;font-size:12px;color:transparent;}
.box .list{padding:10px;}
.box .list li{height:24px;line-height:24px;}
.box .list li span{margin:0 5px 0 0;font-family:"宋体";font-size:12px;font-weight:400;/*color:#ddd;*/}
.showbtn {font:bold 24px '微软雅黑';}
#bg{background-color:black;opacity:0;position:absolute;z-index:99;left:0;top:0;display:none;width:100%;height:100%;filter: alpha(opacity=50);-moz-opacity: 0.5;}
#information input{
	height: 36px;
	padding: 2px 13px;
	border: 2px solid rgba(98,96,96,1);
	color: rgba(203,201,201,1);
}
#input1{
	width: 150px;
}
#input2{
	width: 190px;
}
#input3{
	width: 180px;
}
#input4{
	border: 2px solid rgba(98,96,96,1);
	width: 656px;
	height: 125px;
	padding-left: 10px;
	padding-top: 15px;
	color: rgba(203,201,201,1);
}
#information{
	margin-left: 10px;
}
.infor{
	margin-top: 10px;
	margin-bottom: 10px;
}
.inforx{
	margin-top: 30px;
}
.l2{
	margin-left: 23px;
}
.l3{
	margin-left: 35px;
}
.tr{
	margin-left: 77px;
	margin-top: 19px;
}
#submit{
	cursor: pointer;
	background-color: rgba(0,170,170,1);
	font-size: 18px;
	/*letter-spacing: 1px;*/
	padding: 8px 41px;
	position: absolute;
	top: 429px;
	left: 41.6%;
}
.box a{
	color: rgba(203,201,201,1);
}
/*表情框*/
.comment{width:680px; margin:20px auto; position:relative; background:#fff; padding:20px 50px 50px; border:1px solid #DDD; border-radius:5px;}
    .comment h3{height:28px; line-height:28px}
    .com_form{width:100%; position:relative}
    .input{width:96%; height:210px; border:1px solid #ccc;position: absolute;top: 160px;padding-top: 20px;padding-left: 20px;}
    .com_form p{height:28px; line-height:28px; position:relative; margin-top:10px;}
    span.emotion{height: 20px;position: absolute;top: 343px;padding-left: 20px;cursor:pointer;color: rgba(102,102,111,1);}
    .qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
    .qqFace table td{padding:0px;}
    .qqFace table td img{cursor:pointer;border:1px #fff solid;}
    .qqFace table td img:hover{border:1px #0066cc solid;}
    #show{width:770px; margin:20px auto; background:#fff; padding:5px; border:1px solid #DDD; vertical-align:top;}

    .sub_btn {
        position:absolute; right:0px; top:0;
        display: inline-block;
        zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
        *display: inline;
        vertical-align: baseline;
        margin: 0 2px;
        outline: none;
        cursor: pointer;
        text-align: center;
        font: 14px/100% Arial, Helvetica, sans-serif;
        padding: .5em 2em .55em;
        text-shadow: 0 1px 1px rgba(0,0,0,.6);
        -webkit-border-radius: 3px; 
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        color: #e8f0de;
        border: solid 1px #538312;
        background: #64991e;
        background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
        background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
    }
    .sub_btn:hover {
        background: #538018;
        background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
        background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
    }
.smail{
	width: 27px;
	position: relative;
	top: 9px;
}
/*表情结束*/
/*图标*/
.icon{
	width: 30px;
	position: absolute;
    left: -41px;
}
/*图标结束*/
#copyRight,#copyRight p{
    text-align: center;
    font-size: 14px;
    color: #ccc;
}
.delete{
    position: relative;
    top: 15px;
    left: 256px;
    color: rgba(0,170,170,1);
    cursor: pointer;
}
